@import "./variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-xxl {
  font-size: $title-xxl;
}

.title-xl {
  font-size: $title-xl;
}

.title-l {
  font-size: $title-l;
}

.title-m {
  font-size: $title-m;
}

.title-s {
  font-size: $title-s;
}

.title-xs {
  font-size: $title-xs;
}

.text-xxl {
  font-size: $text-xxl;
}

.text-xl {
  font-size: $text-xl;
}

.text-l {
  font-size: $text-l;
}

.text-m {
  font-size: $text-m;
}

.text-s {
  font-size: $text-s;
}

.text-xs {
  font-size: $text-xs;
}