// Colors
$dark: #10002B;
$dark-violet: #240046;
$dark-purple: #3C096C;
$strong-purple: #5A189A;
$purple: #7B2CBF;
$light-purple: #9D4EDD;
$mega-light-purple: #C77DFF;
$ultra-light-purple: #E0AAFF;

// font-sizes
$title-xxl: 84px;
$title-xl: 72px;
$title-l: 60px;
$title-m: 48px;
$title-s: 36px;
$title-xs: 30px;

$text-xxl: 24px;
$text-xl: 18px;
$text-l: 16px;
$text-m: 14px;
$text-s: 12px;
$text-xs: 10px;

