// Colors
$dark: #10002b;
$dark-violet: #240046;
$dark-purple: #3c096c;
$strong-purple: #5a189a;
$purple: #7b2cbf;
$light-purple: #9d4edd;
$mega-light-purple: #c77dff;
$ultra-light-purple: #e0aaff;
$success: #22bb33;
$danger: #bb2124;

// Breakpoints
$xl-desktop: 1536px;
$desktop: 1200px;
$tablet: 900px;
$mobile: 600px;
