@import "./../../../styles/variables.scss";

.form-input-wrapper{
    background-color: $dark;
    border-radius: 4px;
    border: 1px solid $dark-purple!important;
    position: relative;
    color: $purple!important;

        &::placeholder {
            color: $purple!important;
        }

    &__label {
        color: $purple!important;
    }

    &__input {
        color: $purple!important;

        &::placeholder {
            color: $purple!important;
        }
    }
}

.secure-text-icon__button {
    position: absolute;
    top: 0;
}