@import "./../../../styles/variables.scss";

.connector__line {
  border-color: $purple !important;
}

.connector__label {
  color: white;
  font-weight: 600;

  &--active {
    color: $purple !important;
  }

  &--completed {
    color: $success !important;
  }

  &--error {
    color: $danger !important;
  }
}

.step__icon {
  color: $purple;

  &--active {
    color: $purple !important;
  }

  &--completed {
    color: $success !important;
  }

  &--error {
    color: $danger !important;
  }
}
